@import 'index.scss';

* {
  appearance: none;
  border: 0;
  background: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  color: inherit;
  text-decoration: inherit;
  font-family:'Raleway';
}


.container-logo{
  display: flex;
  justify-content: center;

  .logo{
    width: 136px;
    height: 53px;

    margin: 10px 0 0px 0;

    font-family: 'Shitoberry';
  }
}



.container__orange{
  display: flex;
  
  margin-top: 10px;
  padding: 5px 0px;

  background-color: $primary-color-2;
  color:$color-background;

  box-shadow: $secondary-color-2 3px 3px;

  p{
    display: inline-block;
    margin: auto 0 auto 5px;
    padding-bottom: 2px;
  
    font-size: 1.0rem;
    font-weight: 200;
  }
}


.container__green{
  padding: 11px 0;
  margin-top: 10px;

  background-color: $primary-color;
  box-shadow: $secondary-color 3px 3px;

}

.container__red{
  padding: 11px 0;
  margin-top: 10px;

  background-color: $tertiary-color;
  box-shadow: $tertiary-color-2 3px 3px;

}

.container-input{
  display: flex;
  align-items: center;
  justify-content: center;

  input{
    width: 75%;
    height: 40px;
    padding-left: 4px;
  
    font-size: 2.25rem;
    font-weight: 200;
  
    border-radius: 5px 0px 0px 5px;
  
    background-color: $color-background;
  }

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;

    background-color: $secondary-color;
    border-radius: 0px 5px 5px 0px ;

    cursor: pointer;
    img{
      width: 27px;
      height: 30px;
    }
  }
}

.results{
  display: flex;
  justify-content: space-around;
  align-items: center;

  .results-ingredient{
    width: 95px;
    height: fit-content;
    margin-bottom: 3px;

    color:$color-background;

    font-size: 2.25rem;
    font-weight: 300;
  }
  
  .break-line{
    display: inline-block;
    height: 48px;
    width: 3px;
  
    border-radius: 5px;
  
    
  }

  .results-info{
    width: 60%;
    color: $color-background;
    text-align: center;

    .result{
      font-size: 1.0rem;
    }

    .result-name{
      font-size: 0.875rem;
      font-weight: 200;
      opacity: 0.9;
      span{
        opacity: 0.75;
      }
    }
  }
}

.green{
  background-color: $primary-color;
}

.orange{
  background-color: $primary-color-2;
}

.hidden {
  display: none;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.footer-down{
  position:absolute;
  bottom: 0;
}

.container-notfound{
  text-align: center;

  color:$color-background;
}