<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/stylesheets/addingredient.css'/>
  <title>Document</title>
</head>
<body>
  <form method='POST'>
    <div class="input-container">
      <label for='name'>Nome de aditivo (opcional):</label>
    </br>
      <input class="input-text" type='text' name='name' id='name'>
    </div>
    <div class="input-container">
      <label for='e_number'>E-Number:</label>
    </br>
      <input class="input-text" type='text' name='e_number' id='e_number' value='E'>
    </div>
    <div class="input-container">
      <label for='vegan' >É vegan</label>
      <input type='checkbox' id='vegan' name='vegan' value='true' checked>
      <input type='hidden' id='veganHidden' name='vegan' value='false'>
    </div>
    <div>
      <input type='submit' value="Adicionar">
    </div>
  </form>
</body>
<script>
  document.addEventListener('submit', () => {
    if (document.getElementById('vegan').checked) {document.getElementById('veganHidden').disabled = true}
  })
</script>
</html>